<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503005311143-sqvtpp16209jc5mru9qf8f2akb774s84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503005311143-sqvtpp16209jc5mru9qf8f2akb774s84</string>
	<key>API_KEY</key>
	<string>AIzaSyCQp19abTigaqriwxhWdDf2bgGhXRqjyyU</string>
	<key>GCM_SENDER_ID</key>
	<string>503005311143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>authentication-49d38</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-49d38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503005311143:ios:f9e81c4cd16b87b7deab82</string>
</dict>
</plist>